@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    --primary-color: #585858;
    --secondary-color: #202020;
    --theme-color: ghostwhite;
    --hover-color: #303030;
    --side--bar: #96ceda;
    --nav-color: #a2dce8;
}

body {
    margin: 0px;
    font-family: 'Lato', sans-serif
}


.nav-bar {
    background-color: var(--nav-color);
    padding: 1rem;
    display: block;
}

.nav-bar>h1 {
    margin-top: 0px;
    letter-spacing: 3px;
    word-spacing: 8px;
    color: #101010;
    margin-left: 2rem;
    display: inline;
    font-size: 2em;


}



.nav-bar>button {

    border: 0px;
    border-color: none;
    display: none;
}

.nav-bar>a {
    font-size: 20px;
    margin-left: 2rem;
    text-decoration: none;
    color: var(--secondary-color)
}

.nav-bar>a:hover {
    color: var(--hover-color);
    font-weight: bold;
}

.nav-bar>.ver1 {
    padding-top: 0.5rem;
    float: right;
    margin-left: 1rem;

}

.main-area {
    display: flex;
    background-color: var(--side--bar);
    flex-wrap: wrap;
}


.main-menu {
    height: 580px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    flex: 3;
    background-color: #ffffff;
    padding: 1rem;
    padding-left: 2rem;
}

.main-menu>h1 {
    font-size: 40px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.main-menu>h2 {
    font-size: 30px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.main-menu>h4 {
    font-weight: normal;
    font-size: 25px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.code {
    margin-left: 2rem;
    width: 675px;
    max-height: 200px;
    font-size: 20px;
    padding: 0.5rem 1rem;
    background-color: var(--nav-color);
    overflow-x: scroll;
    margin-top: 1rem;

}

.item-container {
    background-color: var(--side--bar);
    padding: 1rem;
    text-align: center;
    width: max-content;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 1rem 2rem;
    margin-right: 4rem;
    position: relative;
}

.button-container {
    background-color: var(--side--bar);
    padding: 1rem;
    text-align: center;
    width: max-content;
    border-radius: 10px;
    margin: 1rem 2rem;
    margin-right: 4rem;
    position: relative;

}

.button1-container {
    background-color: var(--side--bar);
    padding: 1rem;
    text-align: center;
    width: max-content;
    border-radius: 10px;
    margin: 1rem 2rem;
    margin-right: 4rem;
    position: relative;

}


.item-container>span {
    margin: 1rem;
}

.item-container>img {
    margin: 0px 8px;
}

.item-container>div {
    margin: 0px 8px;
}

.item-container>button {
    margin: 0.5rem;
}

hr {
    margin-top: 3rem;
}

.main-menu>p {
    font-size: 20px;
    color: var(--hover-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.side-bar {
    scroll-behavior: smooth;
    margin-top: 0.5rem;

    flex: 1;
    height: 580px;
    background-color: var(--side--bar);
    display: block;
    color: var(--secondary-color);
    overflow-y: scroll;
}

.side-bar>ul {
    padding-left: 0px;
}

.side-bar>ul>li {
    list-style: none;
    font-size: 18px;
    padding: 0.7rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;

}

.side-bar>ul>li:hover {
    background-color: var(--nav-color);
    color: var(--hover-color);
    font-weight: bold;
}


.side-bar>ul>ul {
    padding: 0;
}

.side-bar>ul>ul>li {
    list-style: none;
    font-size: 18px;
    padding: 0.7rem;
    padding-left: 2.3rem;
    border-radius: 0.5rem;
}

.side-bar>ul>ul>ul>li {
    list-style: none;
    font-size: 18px;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.side-bar>ul a {
    text-decoration: none;
    color: inherit;
}

.side-bar>ul>ul>ul>li:hover {
    background-color: var(--nav-color);
    color: var(--hover-color);
    font-weight: bold;
}






.landing-heading h1 {
    margin: 0px auto;
    margin-top: 3rem;
    color: #01748c;
    font-size: 1.3rem;
    width: 60%;
}

.title-head {
    margin: 2rem auto;
    color: #01748c;
    margin-top: 3rem;
    width: 50%;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.center-btn {

    margin: 0px auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.center-btn a {
    margin-top: 4rem;
    font-size: 1.4rem;
    color: inherit;
    text-decoration: none;
}

.title-head p {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.title-head span {
    color: #0291a6;
}


.clear-side {
    position: relative;
    float: right;
    top: -1.8rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}








/* responsive starts */


@media screen and (max-width:700px) {
    .button1-container {
        background-color: var(--side--bar);
        padding: 0.5rem;
        text-align: center;
        width: max-content;
        border-radius: 10px;
        margin: 0.5rem 0px;
        position: relative;

    }

    .clear-side {
        display: block;
    }

    .landing-heading h1 {
        margin: 0px auto;
        margin-top: 1rem;
        color: #01748c;
        font-size: 1.3rem;
        width: 70%;
    }

    .title-head {
        margin: 2rem auto;
        color: #01748c;
        margin-top: 3rem;
        width: 70%;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 3px;
    }

    .center-btn {

        margin: 0px auto;
        width: 50%;
        margin-top: 3rem;
    }

    .center-btn a {
        color: inherit;
        text-decoration: none;
    }

    .title-head p {
        font-size: 1rem;
    }

    .title-head span {
        color: #0291a6;
    }

    body {
        margin: 0px;
        padding: 0px;
    }

    .main-area {

        display: block;
        flex-direction: column;
    }

    .side-bar {
        overflow: hidden;
        white-space: wrap;
        width: 100%;
        height: max-content;
        display: none;
    }

    .main-menu {
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: block;
        height: max-content;
    }

    .code {
        margin-left: 0px;
        width: 90%;
        max-height: 200px;
        font-size: 15px;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
    }

    .item-container {

        background-color: var(--side--bar);
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        margin: 0px;
        position: relative;
        flex-direction: column;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }

    .item-container>div {
        margin: 0px;
    }

    .nav-bar>button {
        position: absolute;
        top: 1.5rem;
        background-color: inherit;
        display: block;
        font-size: 2rem;
        color: var(--secondary-supporting-color);
    }


    .nav-bar>h1 {
        color: var(--secondary-supporting-color);
        margin-left: 2rem;
        font-size: 2em;
        margin-top: 0px;
        margin-bottom: 10px;

    }

    .nav-bar img {
        position: relative;
        top: 10px;
        margin-left: 1rem;
        width: 50px;
        height: auto;
    }

    .nav-bar>a {
        display: none;
    }

    .nav-bar>h1 {
        margin-left: 3.5rem;
    }

    .nav-bar span {
        display: none;
    }

    .button-container {

        padding: 0.5rem;
        text-align: center;
        width: max-content;
        border-radius: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        position: relative;
        margin-left: 2rem;

    }

    .button-container>button {
        margin: 0.5rem 0px;
    }

    .item-container>div {
        margin: 0px;
    }
}

.image-container {
    width: 300px;
    height: 300px;
}